@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Tajawal", sans-serif;
    font-size: theme(fontSize.sm);
    color: theme(colors.slate.900);
  }

  :root {
    --primary: theme(colors.primary.900);
    --secondary: theme(colors.white);
  }

  /* Scrollbar styles */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--secondary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 200px;
    border: 1px solid var(--secondary);
  }
}

@layer components {
  .header__nav-link {
    @apply relative text-sm text-white text-opacity-70 transition-colors after:absolute after:start-0 after:top-[125%] after:h-0.5 after:w-0 after:bg-white after:transition-[width] hover:text-opacity-100 hover:after:w-1/2 aria-[current]:text-opacity-100 aria-[current]:after:w-1/2 2xl:text-base;
  }

  .cta {
    @apply rounded-3xl text-white;
  }
  .cta__inner {
    @apply grid grid-cols-1 gap-10 px-10 pt-14 sm:px-14 sm:pt-20 lg:grid-cols-2;
    background-image: url("./../images/cta-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .cta header {
    @apply self-center lg:-mt-20;
  }
  .cta h2 {
    @apply text-2xl font-medium sm:text-3xl  sm:leading-7;
  }
  .cta p {
    @apply max-w-[35ch] text-lg;
  }

  .cta__img {
    @apply mx-auto;
  }

  .footer {
    @apply mt-20 pb-8 pt-12  text-neutral-500 text-opacity-70;
    box-shadow:
      0px 0px 5.27px 0px rgba(0, 0, 0, 0.04),
      0px 0px 37px 0px rgba(0, 0, 0, 0.05);
  }

  .footer__link {
    @apply transition-colors hover:text-slate-700 hover:underline;
  }

  .whatsapp {
    @apply fixed bottom-8 end-6 z-50 h-12 w-12 transition-transform hover:scale-105 active:scale-95 sm:h-16 sm:w-16;
  }
}

/* card */
@layer components {
  .card {
    @apply relative flex flex-col rounded-3xl bg-white p-1 shadow-md sm:p-3.5;
  }
  .card__badge {
    @apply absolute left-0 top-0 rounded-br-xl rounded-tl-xl  bg-secondary-900 bg-gradient-to-b from-red-500 to-red-500 px-2 py-4 text-sm text-white [writing-mode:tb-rl];
  }
  .card__badge::before {
    content: "";
    position: absolute;
    border-radius: theme(borderRadius.xl);
    background: inherit;
    inset: -6px;
    z-index: -1;
  }
  .card__thumbnail {
    @apply relative isolate h-[225px] sm:mb-3.5;
  }
  .card__img {
    @apply h-full w-full rounded-3xl object-cover object-center;
  }
  .card__action {
    @apply absolute right-4 top-4 flex h-7 w-7 items-center justify-center rounded-full bg-white aria-pressed:bg-secondary-900;
  }
  .card__action svg {
    @apply inline-block h-4 w-4 fill-current text-secondary-900;
  }
  .card__body {
    @apply flex h-full flex-1 flex-col justify-between p-2.5 text-[10px] text-neutral-500 text-opacity-70 sm:p-0 sm:text-xs md:text-sm;
  }
  .card__body > div {
    @apply space-y-2 sm:space-y-3;
  }
  .card__body > div:first-child {
    @apply mb-4;
  }
  .card__category {
    @apply text-sm text-primary-900;
  }
  .card__title {
    @apply text-xs font-medium text-slate-900 sm:text-sm md:text-base;
  }
  .card__price {
    @apply text-sm font-bold  text-violet-900 sm:text-lg;
    line-height: 1 !important;
  }
  .card__btn {
    @apply flex h-7 flex-1 items-center justify-center gap-1.5 rounded-full bg-neutral-100 text-[10px] text-slate-900 transition-colors hover:bg-neutral-200 sm:h-10 sm:text-sm;
  }
  .card__btn svg {
    @apply h-3.5 w-3.5 fill-current text-secondary-900 sm:h-5 sm:w-5;
  }
}

/* reel */
@layer components {
  .reel {
    @apply relative h-[350px] rounded-3xl p-1.5 shadow sm:h-[475px];
  }
  .reel__content {
    @apply absolute inset-1.5 rounded-3xl bg-gradient-to-b from-transparent to-black/10;
  }
  .reel__info {
    @apply absolute inset-x-0 bottom-0 flex items-center gap-3 p-4 text-white;
  }
  .reel__info img {
    @apply h-14 w-14 shrink-0 rounded-full;
  }
  .reel__info > div p:first-child {
    @apply text-lg font-medium;
  }
}

@layer components {
  .notification {
    @apply relative flex flex-col gap-4 rounded-3xl bg-white p-5 sm:flex-row sm:items-center sm:gap-6 sm:pe-16;
    box-shadow:
      0px 0px 5.27px 0px rgba(0, 0, 0, 0.04),
      0px 0px 37px 0px rgba(0, 0, 0, 0.05);
  }
  .notification--new {
    @apply bg-neutral-100 shadow-none;
  }

  .notification__avatar {
    @apply h-[70px] w-[70px] shrink-0 rounded-full object-cover object-center;
  }
  .notification__content {
    @apply flex-1 text-neutral-500 text-opacity-70;
  }
  .notification__text {
    @apply mb-2 sm:text-lg;
  }
  .notification__dot {
    @apply bg-gradient absolute end-5 hidden h-3.5  w-3.5 rounded-full sm:end-6;
  }
  .notification--new .notification__dot {
    @apply block;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto max-w-[1600px] px-4;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-violet-900 to-violet-900/50;
  }
  .bg-gradient-l {
    @apply bg-gradient-to-l from-violet-900 to-violet-900/50;
  }
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  padding: 0;
  border-width: 0;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent;
}

select {
  background-position: left 0.5rem center;
}
[dir="ltr"] select {
  background-position: right 0.5rem center;
}

/* swiper */

.swiper-pagination-bullet {
  --swiper-pagination-color: theme(colors.primary.900);
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-color: theme(colors.white);
  --swiper-pagination-bullet-inactive-opacity: 1;
  border: 1px solid theme(colors.primary.900);
}
.swiper-pagination-bullet-active {
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  content: none;
}
.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: none;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
}
