@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Tajawal", sans-serif;
    color: theme(colors.slate.900);
  }

  :root {
    --primary: theme(colors.primary.900);
    --secondary: theme(colors.white);
  }

  /* Scrollbar styles */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--secondary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 200px;
    border: 1px solid var(--secondary);
  }
}

@layer components {
  .header__nav-link {
    @apply relative text-white text-opacity-70 transition-colors after:absolute after:start-0 after:top-[125%] after:h-0.5 after:w-0 after:bg-white after:transition-[width] hover:text-opacity-100 hover:after:w-1/2 aria-[current]:text-opacity-100 aria-[current]:after:w-1/2;
  }

  .cta {
    @apply rounded-3xl text-white;
  }
  .cta__inner {
    @apply grid grid-cols-1 gap-10 px-10 pt-14 sm:px-14 sm:pt-20 lg:grid-cols-2;
    background-image: url("./../images/cta-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .cta header {
    @apply self-center lg:-mt-20;
  }
  .cta h2 {
    @apply text-2xl font-medium sm:text-4xl sm:leading-7;
  }
  .cta p {
    @apply max-w-[35ch] text-lg sm:text-2xl;
  }

  .cta__img {
    @apply mx-auto;
  }

  .footer {
    @apply mt-32 py-12 text-base text-neutral-500 text-opacity-70 sm:text-lg;
    box-shadow:
      0px 0px 5.27px 0px rgba(0, 0, 0, 0.04),
      0px 0px 37px 0px rgba(0, 0, 0, 0.05);
  }

  .footer__link {
    @apply transition-colors hover:text-slate-700 hover:underline;
  }

  .whatsapp {
    @apply fixed bottom-8 end-6 h-12 w-12 transition-transform hover:scale-105 active:scale-95 sm:h-16 sm:w-16;
  }
}

@layer components {
  .card {
    @apply relative rounded-3xl bg-white p-1 shadow sm:p-3.5;
  }
  .card__badge {
    @apply absolute left-0 top-0 rounded-br-xl rounded-tl-xl  bg-secondary-900 bg-gradient-to-b from-red-500 to-red-500 px-2 py-4 text-sm text-white [writing-mode:tb-rl];
  }
  .card__badge::before {
    content: "";
    position: absolute;
    border-radius: theme(borderRadius.xl);
    background: inherit;
    inset: -6px;
    z-index: -1;
  }
  .card__thumbnail {
    @apply relative isolate  sm:mb-3.5;
  }
  .card__img {
    @apply h-full w-full rounded-3xl object-cover object-center;
  }
  .card__action {
    @apply absolute start-4 top-4 inline-flex h-5 w-5 items-center justify-center rounded-full bg-white sm:h-7 sm:w-7;
  }
  .card__action img {
    @apply w-3 sm:w-4;
  }
  .card__body {
    @apply space-y-3 p-2.5 text-[10px] text-neutral-500 text-opacity-70 sm:p-0 sm:text-xs md:text-base;
  }
  .card__title {
    @apply text-sm font-medium text-slate-900 md:text-base lg:text-lg;
  }
  /* .card__disc {
    @apply text-neutral-500 text-opacity-70;
  } */
  .card__price {
    @apply text-base font-bold leading-none text-violet-900 sm:text-xl sm:leading-none;
  }
  .card__btn {
    @apply flex h-7 flex-1 items-center justify-center gap-1.5 rounded-full bg-neutral-100 text-[10px] text-slate-900 transition-colors hover:bg-neutral-200 sm:h-10 sm:text-sm;
  }
  .card__btn svg {
    @apply h-3.5 w-3.5 fill-current text-secondary-900 sm:h-5 sm:w-5;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto max-w-[1600px] px-4;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-violet-900 to-violet-900/50;
  }
  .bg-gradient-l {
    @apply bg-gradient-to-l from-violet-900 to-violet-900/50;
  }
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  padding: 0;
  border-width: 0;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent;
}

/* swiper */

.swiper-pagination-bullet {
  --swiper-pagination-color: theme(colors.primary.900);
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-color: theme(colors.white);
  --swiper-pagination-bullet-inactive-opacity: 1;
  border: 1px solid theme(colors.primary.900);
}
.swiper-pagination-bullet-active {
}
